:root {
    --bg1: #ebebeb;
    --bg2: #e0e0e0;
    --text-h: #1c1c1c;
    --text-l: #333333;
    --border: #cccccc;
}
body:has(#dark:checked){
    --bg1:#171717;
    --bg2: #2b2b2b;
    --text-h: #e6e6e6;
    --text-l: #989898;
    --border: #444444;
}
#navbar {
    background-color: var(--bg2);
    color: var(--text-h);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#dark {
    height: 20px;
    width: 20px;
}
body {
    background-color: var(--bg1);
    color: var(--text-l);
    font-family: Arial, sans-serif;
    margin: 0;
}
.article {
    display: flex;
    gap: 20px;
    border: 1px solid var(--border);
    background-color: var(--bg2);
    color: var(--text-l);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: fit-content;
    height: auto;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.article-image {
    width: 40%;
    height: auto;
    object-fit: cover;

}

.article-text {
    width: 60%;
}

.article-title {
    font-size: 24px;
    color: var(--text-h);
    margin-bottom: 10px;
}

.article-content {
    font-size: 16px;
    color: var(--text-l);
    line-height: 1.5;
}

.read-more{
    background-color: var(--bg2);
    color: var(--text-h);
    border: 1px solid var(--border);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

